:root{
    text-align: center;
    font-family: monospace;
    font-size:2vw;

}
body{

    /*background-image:url("water.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    */
    background-color: darkcyan;
}
#content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 3em;
    margin-bottom:3em;
    border:solid blue 1pt;
    padding:1em;
    /*background-image:url("cloud.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    opacity:1.0em;
    color:blue;
    */
}
#form1{
}

.weather {
    display: flex; 
    align-items: center;
    font-size: 1rem;
    color:white;
  }

  .city 
  {
    font-size: 1rem;
    font-style: italic;
    color:white;
  }
  .description,.temperature,.tomorrow,.tomtemp 
  {
    font-size: 1rem;
    color:white;
  }

  #search{
      width:20em;
      height:3em;
  }

  .button{
      padding:1em;
      margin-top:1em;
  }