:root{
    text-align: center;
    font-family: monospace;
    font-size:2vw;
}
.maincontainer{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
width:60%;
margin-right: auto;
margin-left: auto;
border:dotted cadetblue 2pt;
border-radius: 2em;
}

body{

    /*background-image:url("water.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    */
    width:100%;
    background-color: darkcyan;
}
.content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 3em;
    border:solid cadetblue 6pt;
    color:white;
    border-radius:2em;
    justify-items: center;
    padding-top:0.5vh;
    height:50%;
    /*background-image:url("cloud.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    opacity:1.0em;
    color:blue;
    */
}

#content1{
margin-top:3em;
}
.weather,.tomorrow,.day3,.day4{
    display: flex; 
    align-items: center;
    font-size: 1rem;
    color:blue;
    font-weight: bolder;
    justify-content: center;
    margin-top:0.5vh;
  }

  .city {
    font-size: 1rem;
    margin-top: 1em;
    font-weight: bolder;
    color:blue;
}
.description,.temperature,.tomtemp
{
  font-size: 1rem;
  color:white;
}

  .search{
      width:90%;
      height:3em;
      border-radius:2em;
      border:solid cadetblue 5pt;
  }

  .button{
      padding:1em;
      margin-top:1em;
      border-radius:2em;
      border:solid cadetblue 5pt;
  }